/* Custom styles for this site */

.sidebar {
  position: absolute;
  width: 40%;
  height: 100%;
  background-color: #1a1a1a;
  color: #fff;
  left: 0;
  top: 0;
  overflow: scroll;
}

.search-results {
  position: absolute;
  width: 60%;
  height: 100%;
  right: 0;
  top: 0;
  overflow: scroll;
}
.search-results__title {
  display: block;
  margin-bottom: 30px;
}

.sale {
  border: 1px solid #eeeeee;
  padding: 15px;
  margin-bottom: 15px;
}


input[type='text']{
  padding: 0.4em 0.75em;
  border-radius: 3px;
  font-size: 1rem;
  font-family: "Source Sans Pro", "Helvetica Neue", sans-serif;
  border: 0;
  width: 100%;
  margin-bottom: 0;
}
label {
  padding-bottom: 0.1em;
  display: block;
  font-weight: 600;
}